<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo index</title>
</head>
<body>
    <h1>Todo Index Page</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Finished?</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getTodoId()}"></td>
                <td th:text="${todo.getTodoTitle()}"></td>
                <td th:text="${todo.isFinished()}"></td>
                <td th:text="${todo.getCreatedAt()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>